<br>
<div class="container">
<% @array.reverse.each do |object| %>
  <% case object %>
    <% when Project %>
      <% if object.created_at == object.updated_at %>
        <%= "New project added" %>
      <% else %>
        <%= "Project edited" %>
      <% end %>
    <% when Mission %>
      <% if object.created_at == object.updated_at %>
        <%= "New mission added" %>
      <% else %>
        <%= "Mission edited" %>
      <% end %>
    <%  when Task %>
      <% if object.created_at == object.updated_at %>
        <%= "New task added" %>
      <% else %>
        <%= "Task edited" %>
      <% end %>
    <% when Topic %>
      <% if object.created_at == object.updated_at %>
        <%= "New topic added" %>
      <% else %>
        <%= "Topic edited" %>
      <% end %>
    <% end %>
  <% end %>
</div>

