<br>
<div class="container">
  <h1>Last updated tasks</h1>
  <% if @tasks[0] %>
    <% @tasks[0].order(updated_at: :desc).each do |task| %>
      <%= task.title + " | " + task.mission.project.title + " | " + task.mission.title %>
      <br>
    <% end %>
  <% end  %>
<br>
  <h1>Last updated action plans</h1>
    <% if @missions[0] %>
      <% @missions[0].order(updated_at: :desc).each do |mission| %>
        <%= mission.title + " | " + mission.project.title %>
      <br>
    <% end %>
  <% end  %>
<br>
  <h1>Last updated projects</h1>
    <% if @projects[0] %>
      <% @projects[0].order(updated_at: :desc).each do |project| %>
        <%= project.title %>
      <br>
    <% end %>
  <% end  %>
<br>
  <h1>Last updated topics</h1>
    <% if @topics[0] %>
      <% @topics[0].order(updated_at: :desc).each do |topic| %>
        <% if topic.messages.count > 0 %>
          <h5><%= topic.title %></h5>
          <p>Last message : <%= topic.messages.last.content %></p>
        <% end %>
      <br>
    <% end %>
  <% end  %>
</div>
