<br>
<div class="container">
  <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to " Delete account",
            @user,
            method: :delete,
            data: { confirm: 'Are you sure?', disable_with: 'loading...' },
            class: 'nav-link far fa-trash-alt bigger-icon' %>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <br>
    <h2 class="card-title fas fa-user"> Update username </h4>
    <p class="card-text">
      <%= simple_form_for @user, url: user_path(@user), method: :patch do |f| %>
        <%= f.input :name,
                    label: 'Username:',
                    required: true %>
        <%= f.button :submit,
                     value: 'Update name',
                     "data-disable-with" => "Creating..",
                     class: "btn btn-outline-primary" %>
        <% end %>
      </p>
    </p>
    <br><hr><br>
    <h2 class="card-title fas fa-key"> Update password </h2>
    <p class="card-text">
      <%= simple_form_for @user, url: user_path(@user), method: :patch do |f| %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.input :password,
                    label: "New password",
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirm your new password",
                    input_html: { autocomplete: "new-password" },
                    hint: "You will be disconnected if you successfully change your password." %>
        <%= f.button :submit,
                     value: 'Update password',
                     "data-disable-with" => "Creating..",
                     class: "btn btn-outline-primary" %>
      <% end %>
    </p>
  </div>
</div>
