<br>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <%= link_to "", "#", class: 'nav-link far fa-plus-square bigger-icon' %>
        </li>
        <li class="nav-item">
          <%= link_to "", edit_project_path(@project), method: :get, class: 'nav-link far fa-edit bigger-icon' %>
        </li>
        <li class="nav-item">
          <%= link_to "", @project, method: :delete, data: { confirm: 'WARNING you will delete an entire Project!', disable_with: 'loading...' }, class: 'nav-link far fa-trash-alt bigger-icon' %>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <br>
      <h2 class="card-title fas fa-hands-helping"> <%= @project.title %></h4>
      <p class="card-text"><%= simple_format(@project.description) %></p>
      <br><hr><br>
      <h2 class="card-title fas fa-users"> Members: </h4>
      <p class="card-text">
        <% @project.users.each do |user| %>
        <%= user.name ? user.name : user.email %>
        <% end %>
      </p>
      <br><hr><br>
      <h2 class="card-title fas fa-calendar-alt"> Delivery: </h4>
      <p class="card-text"><%= @project.delivery_date.strftime("%d/%m/%Y") %></p>
      <br>
    </div>
  </div>
  <br>
  <% if @missions.count == 0 %>
    <%= link_to '#' do %>
      <div class="card-product">
        <div class="card-product-infos">
          <h2>
            Add your first mission <i class="far fa-plus-square middle-icon"></i>
          </h2>
        </div>
      </div>
    <% end %>
  <% else %>
    <% @missions.order(end: :asc).each do |mission|  %>
      <%= link_to '#' do %>
        <div class="card-product">
          <div class="card-product-infos">
            <h2><span class="fas fa-tasks"></span> <%= mission.title %> </h2>
            <p>
             <% mission.tasks.each do |task| %>
                <% checkmessage = %>
                  <% if task.checkbox %>
                    <i class="fas fa-thumbtack green"></i>
                  <% else %>
                    <i class="fas fa-thumbtack gray"></i>
                  <% end %>
              <% end %>
            </p>
            <p class="card-text far fa-calendar-alt"> From <strong><%= mission.start_date.strftime("%d/%m/%Y") %></strong> to <strong><%= mission.due_date.strftime("%d/%m/%Y") %> </strong></p>
          </div>
        </div>
      <% end %>
    <br>
    <% end %>
<% end %>
</div>

